body{
	padding-top:10px;
	padding-right:50px;
}
header{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:50px;
}
.search{
	float:right;
	
}

.static{
	float:right;
	position:relative;
	top:-30px;
	
}

.round1{
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	border-right:0px;
	padding:5px;
	font-size:10px;
}

.round{
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	background-color:white;
	color:grey;
	border-color:white;
	border-left:0px;
	font-size:16.5px;
}

nav ul li{
	display:inline;
	padding:10px;	
}

nav ul li a{
	color:grey;
	text-decoration:none;
	
}

nav ul li a:hover{
	color:red;
	border-bottom:solid;
	border-bottom-width:2px;
	text-decoration:none;
    padding-bottom:10px;	
}

nav ul li a:active{
	color:blue;
	border-bottom:solid;
	border-bottom-width:2px;
	text-decoration:none;
}


.stats ul li{
	display:inline;
	padding:10px;
   	
}


.stats2 ul li{
	display:inline;
	padding:10px;	
}

.table{
	margin-left:30px;
}

.article{
	margin-left:30px;
	margin-right:30px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {

}

.icon{
	border-style:solid;
	color:red;
	border-radius:17px;
	padding:5px;
		
}

.icon2{
	border-style:solid;
	color:green;
	border-radius:17px;
	padding:5px;		
}

tr:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}
.sitemanager p a{
	color:grey;
	font-size:12px;
	text-decoration:none;
	padding:10px;
}

.sitemanager{
	padding-top:15px;
}

.sitemanager h5{
	padding-bottom:10px;
	
}

.sitemanager h6{
	padding-top:10px;
	padding-bottom:10px;
}

.ic a{
	
	text-decoration:none;
	padding-bottom:10px;
	padding-top:10px;
}

.sitemanager p a:hover{
	background-color:blue;
	color:white;
}

.ic p a:hover{
	color:blue;
}

.ico{
	font-size:24px;
	padding:15px;
	color:grey;
}

.ic{
	margin-top:70px;
	
}


.danger{
	color:red;
	
}

.graph{
	color:blue;
	padding-left:20px;
}

.store{
	color:purple;
}
.main{
	box-shadow: -10px 0px 10px #aaaaaa;
}

.icsize{
	position:relative;
	left:-15px;
	top:10px;
	font-size:25px;
}